:root{
    --backMainColor: rgb(212, 212, 212);
}
body{
    margin: 0;
    border: .5rem solid var(--backMainColor);
    min-height: calc(100vh - 1rem);
    font-family: sans-serif;
    h1, h2, h3, h4, h5, h6 {
        font-family: serif;
        font-weight: bolder;
        color: rgb(31, 31, 109);
        /* &::before{
            content: '> ';
        } */
    }
    header{
        background-color: var(--backMainColor);
        padding: 0;
        display: flex;
        a{
            display: block;
            height: 100%;
            padding: .5rem;
            text-decoration: none;
            color: black;
            transition: all ease-in-out .2s;
            &:last-child{
                margin: 0;
            }
            &.nav__thisPage{
                background-color: white;
            }
            &:hover{
                background-color: white;
            }
        }
    }
    .content{
        padding: .8rem;
        table{
            border-collapse: collapse;
            width: 100%;
            td{
                border: 1px solid black;
            }
        }
    }
}